
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/angular2-logo-white.png">
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
      MHAIS E-Services
    </a>
  </div>
  <div class="author">
    <a href="#">
      <img class="avatar border-gray" src="assets/img/default-avatar - Copy.png" alt="register">
    </a>
  </div>
</div>
